/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-primary: white;
	--color-text-secondary: #a7a7a7;
	--color-background: #121212;
	--color-second-background: #000;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	color: var(--color-text-primary);
	background-color: var(--color-background);
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: var(--color-text-primary);
}

a:hover{
	color: var(--color-text-primary);
}

ul {
	list-style-type: none;
	padding-inline-start: 0px;
 }

h1 {
	width: min-content;
	margin: 0 0 0 0;
}

nav span {
	font-size: 0.8125rem;
	font-weight: 500;
	padding-left: 16px;
	height: 100%;
	text-align: center;
}

nav {
	color: var(--color-text-primary);
	width: 239px;
	background-color: var(--color-second-background);
	display: flex;
	flex-direction: column;
	padding: 24px;
	height: 100vh;
}

nav img{
	height: 40px;
	filter: grayscale(100%)
}

nav ul img {
	height: 23px;
	vertical-align: middle;
	transform: translate(0, -5%)
}

nav a {
	flex-direction: row;
	padding: 0 16px 0px 0px;
	color: var(--color-text-secondary);
	line-height: 40px;
}

